/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background: #352F31;
    font-family: "Segoe UI";
    color: white;
}

.header-full {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    background: url("../Images/e-sports-placeholder.png");
}

.header-quarter {
    width: 100%;
    height: 200px;
    background: url("../Images/e-sports-placeholder2.png");
}

h2 {
    color: #EA2127;
    text-transform: uppercase;
}



/* Apply styles */

.form-column {
    margin: 0;
    padding: 10px;
}

.form-item {
    padding: 0 !important;
}

.form-column .form-item .form-control {
    max-width: 900px !important;
    color: white;
}

.form-column .form-item .form-control textarea {
    min-height: 75px;
}

.success {
    color: lawngreen;
}

/* Highlight styles */
.gallery_product {
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight-body {
    height: 100px;
    background: #2E2A2B;
    padding: 0px 5px 5px 5px;
}

.highlight-body h1 {
    color: #EA2127;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* Event styles */
.event-box {
    width: 100%;
    padding: 15px;
    background: #2E2A2B;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-header {
    color: #EA2127;
    font-size: 20px;
    text-transform: uppercase;
}

/* Team nav */

.team-nav ul li a.active {
    color: #EA2127 !important;
}

.team-nav ul {
    list-style-type: none;
}

.team-nav ul li {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.team-nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.team-nav ul li a:hover {
    color: #EA2127;
}

.team-nav ul li img {
    height: 50px;
    margin-bottom: 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


/* custom navbar */

.brand-logo {
    max-height: 80px;
}

.navbar-brand {
    padding: 10px 10px;
}

.md_nav {
    min-height: 100px;
    background: #231F20;
    border: none;
}

.md_nav ul li a {
    font-family: "Segoe UI";
    font-size: 12px;
    color: white !important;
    text-transform: uppercase;
    line-height: 20px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.dropdown-menu li a {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.dropdown-menu {
    background: #231F20;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #231F20;
}

.md_nav ul li a:hover {
    color: #EA2127 !important;
}

.navbar-toggle {
    margin-top: 33px;
    margin-bottom: 33px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: transparent !important;
}
/*  LOGIN */
.login-form .form-control {
    min-height: 41px;
    background: transparent;
    box-shadow: none !important;
    border-color: #e3e3e3;
    width: 100%;
    color: white;
}

    .login-form .form-control option {
        background: #352F31 !important;
    }

.login-form .form-control:focus {
    border-color: #EA2127;
}

.login-form .form-control, .btn {
    border-radius: 2px;
}

.form-control {
    max-width: 500px !important;
}

.login-form {
    width: 100%;
    margin: 0 auto;
    padding: 65px 0 30px;
}

    .login-form .box {
        color: white;
        font-size: 13px;
        border-radius: 5px;
        background: #2E2A2B;
        padding: 30px 30px 30px 30px;
        position: relative;
    }

    .login-form h2 {
        font-size: 22px;
        margin: 35px 0 25px;
    }

    .login-form .avatar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -50px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: url(../../images/img_avatar.png);
        background-size: cover;
        padding: 15px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

        .login-form .avatar img {
            width: 100%;
        }

    .login-form .btn {
        font-size: 16px;
        font-weight: bold;
        background: #EA2127;
        border: none;
        margin-bottom: 20px;
    }

        .login-form .btn:hover, .login-form .btn:focus {
            background: #C91E23;
            outline: none !important;
        }

    .login-form a {
        color: #EA2127;
        text-decoration: underline;
    }

        .login-form a:hover {
            text-decoration: none;
        }

    .login-form .box a {
        color: #EA2127;
        text-decoration: none;
    }

        .login-form .box a:hover {
            text-decoration: underline;
        }

.match {
    color: green;
}

.nomatch {
    color: red;
}

.signup-link {
    color: #133481 !important;
    text-decoration: none !important;
}

    .signup-link:hover {
        color: #112F75 !important;
    }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .md_nav ul li a {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}